*
body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif; 
    font-size: 15px;
}

.container1 {
    width: 440px;
    margin:auto;    
    text-align: center;
    background-color: white;
    border-radius: 15px;
    margin-top: 200px;
    

}

.container1 img {
    border-radius: 15px;
    width: 90%;
    text-align: center;
    margin-top: 20px;
    margin-bottom:80px;
}

.atribuition {
    padding-bottom: 50px;

}